version: 2
jobs:
  # test:
  build:
    docker:
      - image: openmc/openmc:v0.12.2
    steps:
      - checkout
      - run:
          name: install
          command: |
            pip install --upgrade pip
            pip install .[tests]
            apt-get update -y && apt-get install -y curl

      - run:
          name: run tests
          command: |
            pytest tests -v --cov=openmc_plasma_source --cov-append --cov-report term --cov-report xml

      - store_test_results:
          path: test-reports

      - run: bash <(curl -s https://codecov.io/bash)
